iframe {
  display: none;
}

body {
  font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
  color: #fff;
  background-color: #374954;
}

.container {
  margin: 10% auto;
  text-align: center;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 50px;
}
